p-popover {
  margin-top: none;
  background: none;
  color: none;
  border: 1rem;
  border-radius: 0;
  box-shadow: none;
}
p-popover {
  margin-top: none;
  background: none;
  color: none;
  border: 1rem;
  border-radius: 0;
  box-shadow: none;
}

.p-popover-mask {
  background-color: transparent !important;
}
